/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}


/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

header {
  color: #9DACA7;
  font-size: 90px;
  font-family: 'Baskerville';
  margin: 10px 0px;
}

#necklace {
  border: 4px solid #A1AFAA;
}

h1 {
  color: #7A8E94;
}

.press-images {
  border: 4px solid #A1AFAA;
  padding: 1px;
  width: 23%;
}

.press-images:hover {
  border: 4px solid rgb(111,127,122);
}

#footer {
  font-size: 10px;
  text-align: right;
  margin: 10px 25px;
}




